# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
*.zip

# Python
__pycache__/
*.pyc

# Sistema
.DS_Store

# micellonious
*.log
*.env

*.json
presigned.json
outputs.json
